<a href="https://colab.research.google.com/github/Ric-Royal/Independent-Project-W4/blob/master/Moringa_School_IP_W4_February_2021_Richard_Kabiru.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Connecting to extensisons, Importing libraries and Loading databases

**Connecting** **to** **the** **database**

In [82]:
#load an sql extension into the environment
%load_ext sql

#connect to the in memory sqlite database
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

**Importing the libraries**

In [83]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

**Loading the dataset**

In [ ]:
#with open('Autolib_dataset (2).csv','r') as f:
#    car_sharing = pd.read_csv(f, index_col=0, encoding='utf-8')
#%sql DROP TABLE if EXISTS car_sharing;
#%sql PERSIST car_sharing;
#%sql SELECT * FROM car_sharing LIMIT 5;

In [84]:
# Loading and previewing the dataset
car_df = pd.read_csv('Autolib_dataset (2).csv')
car_df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [85]:
# Checking the columns, value count of each column and the data types.
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data cleaning

**Validity**

In [86]:
# Irreleavant data is not needed. Therefore, I will drop columns that i find unnecessary.
car_df.drop(["Displayed comment", "Scheduled at"], axis=1, inplace= True)
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Geo point            5000 non-null   object
 11  Postal code          5000 non-null   int64
 12  Public name          5000 non-null   object
 13  Rental status        5000 non-null   object
 14  Slots                5000 non-null   int64
 15  Station type         5000 non-null   object
 16  Status               5000 non-null   object
 17  Subscription status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

**Accuracy**

In [94]:
# Summing up the values in the bluecar_counter, utilib_counter and utilib_1.4_counter coolumns and assigning the values in the cars column.
car_df['cars'] = car_df['bluecar_counter'] + car_df['utilib_counter'] + car_df['utilib_1.4_counter']
car_df.head(10)

                              address  cars  ...       date      time
0                 2 Avenue de Suffren     0  ... 2018-08-04  11:43:00
1           145 Rue Raymond Losserand     6  ... 2018-06-04  07:24:00
2    2 Avenue John Fitzgerald Kennedy     5  ... 2018-03-04  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     4  ... 2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ... 2018-08-04  17:23:00
5                8 Boulevard Voltaire     0  ... 2018-06-04  07:02:00
6                      37 rue Leblanc     0  ... 2018-08-04  18:20:00
7         17 Rue des Luaps ProlongÃ©e     4  ... 2018-04-04  22:13:00
8               34 avenue Jean Moulin     1  ... 2018-02-04  22:58:00
9        41 boulevard de Rochechouart     6  ... 2018-04-04  15:02:00

[10 rows x 25 columns]

**Completeness**

In [87]:
# Checking for null values in the dataframe.
# If any exist, they will be dropped or filled with mode/mean. Impute
print(car_df.isnull().sum())

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

**Consistency**

In [88]:
# checking for any duplicates
car_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

**Uniformity**

In [89]:
# remove spaces from column names and adding an underscore 
car_df.columns = car_df.columns.str.strip().str.lower().str.replace(' ', '_')
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

**Accuracy**

In [ ]:
# Summing up the values in the bluecar_counter, utilib_counter and utilib_1.4_counter coolumns and assigning the values in the cars column.
car_df['cars'] = car_df['bluecar_counter'] + car_df['utilib_counter'] + car_df['utilib_1.4_counter']
car_df.head(10)

**Uniformity**

In [90]:
# Merging year, month and date into one column
car_df['date'] = car_df['day'].map(str) + '-' + car_df['month'].map(str) + '-' + car_df['year'].map(str) 
print (car_df) 
car_df.info()

                                 address  cars  ...  minute      date
0                    2 Avenue de Suffren     0  ...      43  8-4-2018
1              145 Rue Raymond Losserand     6  ...      24  6-4-2018
2       2 Avenue John Fitzgerald Kennedy     3  ...      14  3-4-2018
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37  4-4-2018
4     6 avenue de la Porte de Champerret     3  ...      23  8-4-2018
...                                  ...   ...  ...     ...       ...
4995                 8 avenue MÃ©nelotte     2  ...      26  6-4-2018
4996                   37 rue de Dantzig     4  ...      56  4-4-2018
4997                      142 rue du Bac     1  ...       1  1-4-2018
4998         2 avenue du Val de Fontenay     2  ...      27  4-4-2018
4999                 5 Rue Henry Brisson     4  ...       2  8-4-2018

[5000 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
 23  date                 5000 non-null   object
dtypes: int64(12), object(12)
memory usage: 937.6+ KB

In [91]:
# changing the data type of the new column named date to datetime.
car_df['date']= pd.to_datetime(car_df['date'])
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
 23  date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(11)
memory usage: 937.6+ KB

In [92]:
# combining the values in the hour and minute columns to create a new column in the database.
car_df['time'] = car_df['hour'].map(str) + ':' + car_df['minute'].map(str)
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
 23  date                 5000 non-null   datetime64[ns]
 24  time                 5000 non-null   object
dtypes: datetime64[ns](1), int64(12), object(12)
memory usage: 976.7+ KB

In [93]:
# Converting the time column to datetime
car_df['time'] = pd.to_datetime(car_df['time'], format='%H:%M').dt.time
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
 23  date                 5000 non-null   datetime64[ns]
 24  time                 5000 non-null   object
dtypes: datetime64[ns](1), int64(12), object(12)
memory usage: 976.7+ KB

In [19]:
# Checking the database after the cleaning exercise
car_df.head()

                              address  cars  ...       date      time
0                 2 Avenue de Suffren     0  ... 2018-08-04  11:43:00
1           145 Rue Raymond Losserand     6  ... 2018-06-04  07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ... 2018-03-04  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ... 2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret     3  ... 2018-08-04  17:23:00

[5 rows x 25 columns]

# Analysis

In [95]:
# Identifying the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
# popular hour of picking a bluecar in paris in april 2018
# columns to use city, bluecar == 0 and find the mode of time
pop_hour_bluecar = car_df['time'].groupby([car_df['city'] == 'Paris', car_df['bluecar_counter'] == 6])
pop_hour_bluecar.head()

0      11:43:00
1      07:24:00
2      20:14:00
3      04:37:00
4      17:23:00
5      07:02:00
6      18:20:00
7      22:13:00
9      15:02:00
11     09:20:00
15     00:21:00
16     19:00:00
17     12:14:00
47     07:05:00
53     11:56:00
56     21:11:00
69     20:40:00
74     06:13:00
94     05:07:00
114    21:46:00
Name: time, dtype: object

In [96]:
# popular hour of picking a bluecar in paris in april 2018
# columns to use city, bluecar == 0 and find the mode of time
city_col = car_df['city'] == 'Paris'
pop_hour = car_df['hour']
blue_car = car_df['bluecar_counter'] == 0
pop_hour = car_df[city_col & pop_hour & blue_car]
pop_hour.sort_values(by= 'bluecar_counter', ascending= False)

                        address  cars  ...       date      time
0           2 Avenue de Suffren     0  ... 2018-08-04  11:43:00
3315  125 bis avenue Parmentier     0  ... 2018-01-04  09:12:00
3424              4 rue Pouchet     0  ... 2018-08-04  11:41:00
3417   2 rue du Commandant Lamy     0  ... 2018-01-04  13:45:00
3414             37 rue Leblanc     0  ... 2018-09-04  23:41:00
...                         ...   ...  ...        ...       ...
1636         157 rue Saint-Maur     0  ... 2018-05-04  03:27:00
1635      14 rue Bertin PoirÃ©e     0  ... 2018-09-04  17:49:00
1630            19 rue Tronchet     0  ... 2018-05-04  03:10:00
1618      14 rue Bertin PoirÃ©e     0  ... 2018-02-04  01:38:00
4992            3 avenue d'Ivry     0  ... 2018-09-04  23:01:00

[507 rows x 25 columns]

In [138]:
# most popular hour of returning a car
# The mode will give us the most repeated value in the hour column. By sorting in descending order we get the values ordered from the highest to the lowest.

car_hour = car_df['hour'].mode()
car_hour.sort_values(ascending = False)
list(car_hour)

[21]

In [135]:
# most popular station overall
#car_df_max = car_df['cars'] = '7'
#car_df_station = car_df['address'].count()
#pop_station = car_df[car_df_max & car_df_station]
#pop_station
pop_station = car_df['address'].mode()
pop_station.sort_values(ascending = False)
list(pop_station)

['8 Avenue de la Porte de Montrouge']